#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem 0; */
  text-align: center;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.select-none{
  user-select: none;
}

.dark-theme .leaflet-popup-content-wrapper{
  background-color: #121212;
}

.light-theme .leaflet-popup-content-wrapper{
  background-color: white;
}

.custom-popup .leaflet-popup-close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}